:root {
    --main-color: #d02e90;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}
.banner {
    display: flex;
    align-items: center;
    height: 100vh;
    .info {
        flex: 0 0 50%;
        .logo {
            img {
                height: 150px;
            }
        }
        .name {
            font-size: 24px;
            font-weight: bold;
            margin: 10px 0;
        }
        .author {
            font-size: 18px;
            color: #666;
        }
        .describe {
            font-size: 16px;
            color: #333;
            margin-top: 10px;
        }
        .features {
            margin-top: 20px;
            font-size: 16px;
            color: #333;
        }
    }
    .performance {
        flex: 0 0 50%;
        font-size: 14px;
        .row {
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        .wrap {
            display: flex;
        }
        .icon {
            width: 30px;
        }
        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 50px;
            background-color: #eee;
            margin-right: 10px;
            border-radius: 6px;
        }
        .data {
            flex: 1 1 100%;
        }
        .line {
            display: flex;
            align-items: center;
        }
        .name {
            flex: 0 0 80px;
        }
        .progress {
            width: 200px;
            height: 14px;
            background-color: #eee;
            border-radius: 4px;
        }
        .bar {
            background-color: var(--main-color);
            height: 14px;
            border-radius: 4px;
        }
        .value {
            padding-left: 6px;
            word-break: keep-all;
            white-space: nowrap;
        }
        .tips {
            font-size: 13px;
            color: #666;
            margin-top: 4px;
            padding-left: 140px;
        }
    }
}
